@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* line 5, src/static/scss/page.scss */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

/* line 11, src/static/scss/page.scss */
body {
  color: white;
  overflow: hidden;
  position: relative;
  font-family: 'Poppins', sans-serif; }
  /* line 18, src/static/scss/page.scss */
  body .content {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #222;
    background-image: linear-gradient(135deg, #08520e 30%, #02860d);
    position: relative; }
    /* line 25, src/static/scss/page.scss */
    body .content .main {
      width: 100%;
      height: 100%;
      position: relative;
      transform-origin: left;
      transform-style: preserve-3d; }
    /* line 32, src/static/scss/page.scss */
    body .content .sidebar {
      position: absolute;
      right: 0px;
      top: 0px;
      width: 33%;
      height: 100%;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center; }
    /* line 43, src/static/scss/page.scss */
    body .content .navbar {
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 3rem;
      z-index: 10; }
      /* line 51, src/static/scss/page.scss */
      body .content .navbar .menu {
        max-width: 150rem;
        width: 100%;
        margin: 0 auto;
        padding: 0 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        /* line 60, src/static/scss/page.scss */
        body .content .navbar .menu .logo {
          font-size: 1.1rem;
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: 2px;
          line-height: 4rem; }
        /* line 67, src/static/scss/page.scss */
        body .content .navbar .menu .hamburger-menu {
          position: fixed;
          top: 0px;
          right: 2rem;
          width: 3rem;
          height: 4rem;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          z-index: 5; }
          /* line 79, src/static/scss/page.scss */
          body .content .navbar .menu .hamburger-menu .bar {
            width: 2.5rem;
            height: 2.2px;
            border-radius: 2px;
            background-color: #eee;
            transition: all 0.5s;
            position: relative; }
            /* line 87, src/static/scss/page.scss */
            body .content .navbar .menu .hamburger-menu .bar:before, body .content .navbar .menu .hamburger-menu .bar:after {
              content: "";
              position: absolute;
              width: inherit;
              height: inherit;
              background-color: #eee;
              transition: all 0.5s; }
            /* line 96, src/static/scss/page.scss */
            body .content .navbar .menu .hamburger-menu .bar:before {
              transform: translateY(-9px); }
            /* line 99, src/static/scss/page.scss */
            body .content .navbar .menu .hamburger-menu .bar:after {
              transform: translateY(9px); }
    /* line 108, src/static/scss/page.scss */
    body .content .page-wrapper {
      width: 100vw;
      height: 100vh;
      padding: 3rem;
      position: absolute;
      transform-origin: left;
      transform-style: preserve-3d;
      background-color: #222;
      z-index: 2;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
      /* line 119, src/static/scss/page.scss */
      body .content .page-wrapper .page {
        width: 100%;
        height: 100%;
        position: relative;
        border: 2px solid #08520e;
        overflow-x: scroll; }
        /* line 126, src/static/scss/page.scss */
        body .content .page-wrapper .page .banner {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          /* line 133, src/static/scss/page.scss */
          body .content .page-wrapper .page .banner h1 {
            font-size: 5rem; }
          /* line 136, src/static/scss/page.scss */
          body .content .page-wrapper .page .banner span {
            color: #08520e; }
  /* line 146, src/static/scss/page.scss */
  body .content.active .bar {
    transform: rotate(360deg);
    background-color: transparent !important; }
    /* line 150, src/static/scss/page.scss */
    body .content.active .bar::before {
      transform: translateY(0) rotate(45deg) !important; }
    /* line 154, src/static/scss/page.scss */
    body .content.active .bar::after {
      transform: translateY(0) rotate(-45deg) !important; }
  /* line 159, src/static/scss/page.scss */
  body .content.active .page-wrapper {
    animation: page_animation 0.5s ease;
    cursor: pointer; }

@keyframes page-animation {
  0% {
    transform: translate(0); }
  100% {
    transform: perspective(1300px) rotateY(25deg) translateZ(200px) scale(0.7) !important; } }

@media (max-width: 768px) {
  /* line 178, src/static/scss/page.scss */
  body .content .page-wrappe {
    padding: 20px; } }
