@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
@font-face {
  font-family: "Kungfont";
  src: url("/static/scss/fonts/Kungfont/Kungfont-Regular.ttf"); }

/* line 4, static/scss/header.scss */
body .main {
  width: 100%;
  height: 100%;
  position: relative;
  transform-origin: left;
  transform-style: preserve-3d; }
  /* line 10, static/scss/header.scss */
  body .main .logo {
    font-family: "Kungfont", sans-serif; }
    /* line 12, static/scss/header.scss */
    body .main .logo a {
      text-decoration: none;
      color: white; }
      /* line 16, static/scss/header.scss */
      body .main .logo a:hover {
        text-decoration: none; }

/* line 22, static/scss/header.scss */
body .sidebar {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 33%;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-in-out; }
  /* line 35, static/scss/header.scss */
  body .sidebar .navMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; }
    /* line 41, static/scss/header.scss */
    body .sidebar .navMenu ul {
      position: relative;
      width: 70%; }
      /* line 44, static/scss/header.scss */
      body .sidebar .navMenu ul li {
        position: relative;
        width: 100%;
        height: 40px;
        list-style: none;
        padding: 0 20px;
        margin: 10px 0px; }
        /* line 51, static/scss/header.scss */
        body .sidebar .navMenu ul li a {
          width: 100%;
          height: 40px;
          display: block;
          position: relative;
          text-decoration: none; }
          /* line 57, static/scss/header.scss */
          body .sidebar .navMenu ul li a .child-block {
            text-transform: uppercase;
            text-align: center;
            font-size: 1.5em;
            font-weight: 700;
            line-height: 1em;
            text-align: center;
            padding: 10px;
            width: 100%;
            height: 100%;
            position: absolute;
            color: white;
            top: 0;
            left: 0; }
          /* line 72, static/scss/header.scss */
          body .sidebar .navMenu ul li a .child-block:nth-child(1) {
            transition: 0.5s ease-in-out;
            background-color: #070707;
            transform-origin: 50% 100%;
            transform: rotateX(90deg) translateY(40px); }
            /* line 77, static/scss/header.scss */
            body .sidebar .navMenu ul li a .child-block:nth-child(1) span {
              color: #236b02; }
          /* line 82, static/scss/header.scss */
          body .sidebar .navMenu ul li a .child-block:nth-child(2) {
            transition: 0.5s ease-in-out;
            transform: rotateX(0deg) translateY(0px);
            transform-origin: 50% 0%;
            color: white; }
            /* line 87, static/scss/header.scss */
            body .sidebar .navMenu ul li a .child-block:nth-child(2) span {
              color: #236b02; }
          /* line 93, static/scss/header.scss */
          body .sidebar .navMenu ul li a:hover .child-block:nth-child(1) {
            transform: rotateX(0deg) translateY(0px); }
          /* line 97, static/scss/header.scss */
          body .sidebar .navMenu ul li a:hover .child-block:nth-child(2) {
            background-color: #fff;
            color: #000;
            transform: rotateX(90deg) translateY(40px); }

/* line 108, static/scss/header.scss */
body .navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 3rem;
  z-index: 10; }
  /* line 116, static/scss/header.scss */
  body .navbar .menu {
    max-width: 150rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    /* line 125, static/scss/header.scss */
    body .navbar .menu .logo {
      font-size: 1.1rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 4rem; }
    /* line 132, static/scss/header.scss */
    body .navbar .menu .hamburger-menu {
      position: fixed;
      top: 0px;
      right: 2rem;
      width: 3rem;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      z-index: 5; }
      /* line 144, static/scss/header.scss */
      body .navbar .menu .hamburger-menu .bar {
        width: 2.5rem;
        height: 2.2px;
        border-radius: 2px;
        background-color: #eee;
        transition: all 0.5s;
        position: relative; }
        /* line 152, static/scss/header.scss */
        body .navbar .menu .hamburger-menu .bar:before, body .navbar .menu .hamburger-menu .bar:after {
          content: "";
          position: absolute;
          width: inherit;
          height: inherit;
          background-color: #eee;
          transition: all 0.5s; }
        /* line 161, static/scss/header.scss */
        body .navbar .menu .hamburger-menu .bar:before {
          transform: translateY(-9px); }
        /* line 164, static/scss/header.scss */
        body .navbar .menu .hamburger-menu .bar:after {
          transform: translateY(9px); }

/* line 3, static/scss/page.scss */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

/* line 9, static/scss/page.scss */
body {
  color: white;
  background-color: #222;
  overflow: hidden;
  position: relative;
  font-size: 18px;
  font-family: 'Play', sans-serif; }
  /* line 18, static/scss/page.scss */
  body .content {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #222;
    background-image: linear-gradient(135deg, #236b02, #070707);
    position: relative; }
    /* line 29, static/scss/page.scss */
    body .content .shadow-one {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      transform-origin: left;
      transform-style: preserve-3d;
      top: 0;
      left: 0;
      background-color: #fff;
      opacity: 0.15;
      z-index: -1;
      transition: transform 0.5s ease-in-out; }
    /* line 45, static/scss/page.scss */
    body .content .shadow-two {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #fff;
      opacity: 0.15;
      transform-origin: left;
      transform-style: preserve-3d;
      z-index: -3;
      transition: transform 0.5s ease-in-out; }
    /* line 62, static/scss/page.scss */
    body .content .page-wrapper {
      width: 100vw;
      height: 100vh;
      position: absolute;
      transform-origin: left;
      transform-style: preserve-3d;
      background-color: #222;
      z-index: 5;
      transition: transform 0.5s ease-in-out; }
      /* line 72, static/scss/page.scss */
      body .content .page-wrapper .page-anchor {
        position: relative;
        padding: 3rem;
        width: 100%;
        height: 100%; }
        /* line 77, static/scss/page.scss */
        body .content .page-wrapper .page-anchor #matrix_canvas {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0; }
      /* line 86, static/scss/page.scss */
      body .content .page-wrapper .page {
        width: 100%;
        height: 100%;
        position: relative;
        overflow-x: scroll;
        z-index: 100;
        -ms-overflow-style: none;
        scrollbar-width: none; }
        /* line 95, static/scss/page.scss */
        body .content .page-wrapper .page::-webkit-scrollbar {
          width: 0; }
        /* line 99, static/scss/page.scss */
        body .content .page-wrapper .page .social-shared-wrap {
          display: flex;
          flex-wrap: wrap;
          padding: 15px; }
          /* line 103, static/scss/page.scss */
          body .content .page-wrapper .page .social-shared-wrap .social-link {
            padding: 0px 25px;
            text-align: center;
            color: #236b02;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
            font-size: 20px; }
            /* line 111, static/scss/page.scss */
            body .content .page-wrapper .page .social-shared-wrap .social-link:hover {
              text-decoration: none;
              color: #000; }
        /* line 118, static/scss/page.scss */
        body .content .page-wrapper .page .banner {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          text-align: center; }
          /* line 127, static/scss/page.scss */
          body .content .page-wrapper .page .banner h1 {
            font-size: 10rem;
            font-family: "Kungfont", sans-serif; }
          /* line 132, static/scss/page.scss */
          body .content .page-wrapper .page .banner span {
            color: #236b02; }
          /* line 135, static/scss/page.scss */
          body .content .page-wrapper .page .banner h3 {
            font-size: 2rem; }
          /* line 138, static/scss/page.scss */
          body .content .page-wrapper .page .banner .scroll-btn {
            width: 50px;
            height: 50px;
            background-color: transparent;
            border: none;
            font-size: 3.4rem;
            text-align: center;
            margin-top: 40px;
            cursor: pointer;
            color: #236b02; }
            /* line 149, static/scss/page.scss */
            body .content .page-wrapper .page .banner .scroll-btn:hover {
              color: #fff; }
        /* line 154, static/scss/page.scss */
        body .content .page-wrapper .page .white-wrapper {
          background-color: #fff;
          color: #000;
          min-height: 100%;
          font-size: 20px; }
        /* line 160, static/scss/page.scss */
        body .content .page-wrapper .page .page-container {
          max-width: 1300px;
          margin: 0px auto;
          padding: 15px; }
          /* line 164, static/scss/page.scss */
          body .content .page-wrapper .page .page-container .title {
            padding: 10px 10px 20px; }
            /* line 166, static/scss/page.scss */
            body .content .page-wrapper .page .page-container .title span {
              padding: 5px 20px;
              border-bottom: 3px solid #236b02; }
          /* line 171, static/scss/page.scss */
          body .content .page-wrapper .page .page-container p {
            margin: 10px; }
          /* line 174, static/scss/page.scss */
          body .content .page-wrapper .page .page-container .comand {
            border-left: 5px solid #236b02;
            padding: 20px;
            background: #dfdfdf;
            white-space: pre-wrap;
            padding-left: 15px;
            overflow-x: scroll; }
          /* line 182, static/scss/page.scss */
          body .content .page-wrapper .page .page-container .blue {
            color: #0d0492; }
          /* line 185, static/scss/page.scss */
          body .content .page-wrapper .page .page-container .purple {
            color: #5301a5; }
          /* line 188, static/scss/page.scss */
          body .content .page-wrapper .page .page-container .red {
            color: #db0000; }
          /* line 191, static/scss/page.scss */
          body .content .page-wrapper .page .page-container .green {
            color: #049227; }
          /* line 195, static/scss/page.scss */
          body .content .page-wrapper .page .page-container .article-wrap a {
            color: #236b02; }
          /* line 198, static/scss/page.scss */
          body .content .page-wrapper .page .page-container .article-wrap img {
            margin: 15px auto; }
          /* line 203, static/scss/page.scss */
          body .content .page-wrapper .page .page-container .tabs .tabs-nav {
            display: flex;
            flex-wrap: nowrap; }
            /* line 207, static/scss/page.scss */
            body .content .page-wrapper .page .page-container .tabs .tabs-nav .tabs_nav_btn {
              background: #222;
              color: #236b02;
              border: none;
              padding: 10px 25px;
              text-align: center;
              cursor: pointer;
              font-size: 20px;
              border-left: 1px solid white;
              border-right: 1px solid white; }
              /* line 218, static/scss/page.scss */
              body .content .page-wrapper .page .page-container .tabs .tabs-nav .tabs_nav_btn.active {
                background-color: #fff; }
          /* line 224, static/scss/page.scss */
          body .content .page-wrapper .page .page-container .tabs .tab-content .tab-item {
            display: none;
            opacity: 0;
            transition: opacity 0.3s ease-in; }
            /* line 228, static/scss/page.scss */
            body .content .page-wrapper .page .page-container .tabs .tab-content .tab-item.active {
              display: block;
              opacity: 1; }
            /* line 232, static/scss/page.scss */
            body .content .page-wrapper .page .page-container .tabs .tab-content .tab-item .articles-wrap {
              display: flex;
              flex-wrap: wrap;
              justify-content: start;
              padding: 35px 0px; }
              /* line 238, static/scss/page.scss */
              body .content .page-wrapper .page .page-container .tabs .tab-content .tab-item .articles-wrap .article-link {
                color: white;
                background: #236b02;
                text-align: center;
                padding: 15px 30px;
                display: block;
                width: 20%;
                text-decoration: none;
                font-weight: 700;
                -webkit-transition: all 1s ease;
                transition: all 1s ease;
                position: relative;
                transform-style: preserve-3d; }
                /* line 253, static/scss/page.scss */
                body .content .page-wrapper .page .page-container .tabs .tab-content .tab-item .articles-wrap .article-link::before {
                  content: '';
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  top: -13px;
                  left: -13px;
                  border: 3px solid #333;
                  opacity: 0.7;
                  transform: translateZ(-10px); }
                /* line 264, static/scss/page.scss */
                body .content .page-wrapper .page .page-container .tabs .tab-content .tab-item .articles-wrap .article-link::after {
                  content: attr(data-title);
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  top: 13px;
                  left: 13px;
                  background: #236b02;
                  z-index: 5;
                  box-sizing: border-box;
                  padding: 20px 30px;
                  -webkit-transition: all 0.5s ease;
                  transition: all 0.5s ease;
                  -webkit-transform: scale(0);
                  transform: scale(0); }
                /* line 280, static/scss/page.scss */
                body .content .page-wrapper .page .page-container .tabs .tab-content .tab-item .articles-wrap .article-link:hover {
                  background-color: #333; }
                  /* line 283, static/scss/page.scss */
                  body .content .page-wrapper .page .page-container .tabs .tab-content .tab-item .articles-wrap .article-link:hover::after {
                    -webkit-transform: scale(1);
                    transform: scale(1); }
  /* line 298, static/scss/page.scss */
  body .content.active .bar {
    transform: rotate(360deg);
    background-color: transparent !important; }
    /* line 302, static/scss/page.scss */
    body .content.active .bar::before {
      transform: translateY(0) rotate(45deg) !important; }
    /* line 306, static/scss/page.scss */
    body .content.active .bar::after {
      transform: translateY(0) rotate(-45deg) !important; }
  /* line 311, static/scss/page.scss */
  body .content.active .sidebar {
    transform: scaleX(1) !important; }
  /* line 315, static/scss/page.scss */
  body .content.active .page-wrapper {
    cursor: pointer;
    transform: perspective(1300px) rotateY(25deg) translateZ(250px) scale(0.7) !important; }
  /* line 320, static/scss/page.scss */
  body .content.active .shadow-one {
    transform: perspective(1300px) rotateY(25deg) translateZ(160px) scale(0.7) !important; }
  /* line 323, static/scss/page.scss */
  body .content.active .shadow-two {
    transform: perspective(1300px) rotateY(25deg) translateZ(100px) scale(0.7) !important; }

@media (max-width: 768px) {
  /* line 333, static/scss/page.scss */
  body .content .page-wrapper .page-anchor {
    padding: 15px; }
    /* line 338, static/scss/page.scss */
    body .content .page-wrapper .page-anchor .page .banner h1 {
      font-size: 8rem; }
    /* line 341, static/scss/page.scss */
    body .content .page-wrapper .page-anchor .page .banner h3 {
      font-size: 1.6rem; }
    /* line 346, static/scss/page.scss */
    body .content .page-wrapper .page-anchor .page .tabs .tab-content .tab-item .articles-wrap .article-link {
      width: 100%; }
  /* line 353, static/scss/page.scss */
  body .content .sidebar {
    width: 100%; }
  /* line 356, static/scss/page.scss */
  body .content .navbar .menu .hamburger-menu {
    right: 15px; }
  /* line 361, static/scss/page.scss */
  body .content.active .page-wrapper {
    cursor: pointer;
    transform: perspective(1300px) rotateY(25deg) translateZ(200px) translateX(-100%) scale(0.7) !important; } }
